---
import { sanityClient } from "sanity:client";

export async function getStaticPaths() {
  const page = await sanityClient.fetch(`*[_type == "page" && slug.current != 'homepage']`)

  return page.map((page) => {
    return {
      params: {
        slug: page.slug.current,
      },
      props: { ...page },
    };
  });
}

const { props: page } = Astro
console.log({ Astro })
---

<p>{ page.title }</p>