---
import { sanityClient } from "sanity:client";
import DefaultLayout from "../layouts/default.astro";
import PageBuilder from "../components/page-builder.astro";

export async function getStaticPaths() {
  const pages = await sanityClient.fetch(
    `*[_type == "page" && slug.current != 'homepage' && slug.current != 'events']`
  );

  return pages.map((page) => {
    console.log("page??", page);
    return {
      params: {
        slug: page.slug.current,
      },
      props: { ...page },
    };
  });
}

const { props: page } = Astro;
console.log({ page });
---

<DefaultLayout>
  <h1
    class="uppercase text-5xl font-semibold tracking-normal mb-4 md:mb-6 lg:mb-10 content-block"
  >
    {page.title}
  </h1>
  <PageBuilder blocks={page.content} />
</DefaultLayout>

<script>
  console.log("HELLO???");
</script>
