---
const { node } = Astro.props;
import { sanityClient } from "sanity:client";
import EventCard from "./event-card.astro";

const pastEvents = await sanityClient.fetch(
  `*[_type == "event" && dateTime(date.start) < dateTime(now())]`
);
---

<section class="content-block mb-10">
  <h2 class="font-semibold text-5xl uppercase mb-4">{node.title}</h2>
  {pastEvents.map((event) => <EventCard event={event} />)}
</section>
