---
  const { node } = Astro.props;
  import { sanityClient } from "sanity:client";
  import EventCard from './event-card.astro'

  const upcomingEvents = await sanityClient.fetch(`*[_type == "event" && dateTime(date.start) > dateTime(now())]`)

  console.log({upcomingEvents})
---
<section class="content-block">
  <h2 class="font-semibold text-5xl uppercase mb-4">{ node.title }</h2>
  {upcomingEvents.map(event => (
    <EventCard event={event} />
  ))}
</section>