ul {
  @apply list-disc;
}

ol {
  @apply list-decimal;
}

ul,
ol {
  @apply list-outside ml-4;
}

.content-block {
  @apply max-w-display mx-auto px-4 sm:px-6 md:px-8 lg:px-10;
}

.button {
  @apply bg-white border-2 border-black px-5 py-3 inline-block uppercase font-semibold;
}

.pseudo-underline-parent {
  &:hover > *:first-child::after {
    @apply w-full;
  }

  & > *:first-child {
    @apply relative;

    &::after {
      content: "";
      @apply h-px w-0 transition-all duration-200 ease-in-out absolute bg-current -bottom-px left-0;
    }
  }
}

.pseudo-underline {
  @apply relative;

  &:hover::after {
    @apply w-full;
  }

  &::after {
    content: "";
    @apply h-px w-0 transition-all duration-200 ease-in-out absolute bg-current -bottom-px left-0;
  }
}
